<template>
  <section class="container">
    <b-card class="card-login">
      <b-card-header>
        <h3>Đăng nhập</h3>
      </b-card-header>
      <b-card-body class="pa-0">
        <b-form @submit.prevent="login()">
          <b-alert variant="danger" :show="hasError">Tài khoản mất khẩu không chính xác</b-alert>
          <b-input-group class="form-group">
            <b-input-group-prepend>
							<span class="input-group-text">
                <font-awesome-icon :icon="['fas', 'user']" />
              </span>
            </b-input-group-prepend>
            <b-form-input type="text" class="form-control" placeholder="username" v-model="dataLogin.email" />

          </b-input-group>
          <b-input-group class="form-group">
            <b-input-group-prepend>
							<span class="input-group-text">
               <font-awesome-icon :icon="['fas', 'key']" />
              </span>
            </b-input-group-prepend>
            <b-form-input type="password" class="form-control" placeholder="password" v-model="dataLogin.password"/>
          </b-input-group>

          <div class="form-group">
            <b-button type="submit" variant="warning" class="btn float-right" :disabled="isLogin">
              <b-spinner v-if="isLogin" small type="grow"></b-spinner>
              Đăng nhập
            </b-button>
          </div>
        </b-form>
      </b-card-body>
    </b-card>
  </section>
</template>
<script>
  export default {
    data() {
      return {
        dataLogin:{
          email: '',
          password: '',
        },
        hasError: false,
        isLogin: false,
      }
    },
    methods: {
      async login() {
        try {
          let response = await this.$auth.login({data : this.dataLogin})
            .then(()=> this.$router.push('/'));
        } catch (e) {
          this.hasError = true ;
        }
      }
    }
  }
</script>

<style>
  .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card-login{
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0,0,0,0.5) !important;
  }

  .card-header h3{
    color: white;
  }
  .input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
  }
</style>
